@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
 padding:0;
 margin: 0;
 box-sizing: border-box;
}

html { 
 font-family: 'Rubik', sans-serif; 
// background-image: -webkit-linear-gradient(left, #444544 80%, #727372 30%);
 background: #444544;
}

body {
 min-height: 100vh;
 max-width:70rem;
 margin: 0 auto ;
 background-color: #e3ab12;
 //color:#FFF;
 //background-image: url('../images/westie.jpg');
//background-repeat: no-repeat;
 //background-position: right;
}

header {
// background-color: #C4C3C3;
 padding: 1rem 1.5rem;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 font-size: 0.8rem;
 
}

header h1 {
 font-size: 3rem;
 font-weight: normal;
 margin-left: 0.5rem;
}

header a {
 color: #FFF;
 text-decoration: none;
}

section {
 padding: 1.5rem 1rem 1rem 1rem;
}

section h1 {
 margin-bottom: 1rem;
}
 

hr {
 border: none;
 border-top: solid #1B1B3A 2px;
 margin: 1rem;
}

footer {
 font-size: 0.8rem;
 text-align: center;
 color: #1B1B3A
}



//.tapahtumat > div {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 }

.tapahtumat > div > div:nth-child(3) {
text-align: right;
}

.tapahtumat > div {
 display: inline-block;

 justify-content: space-between;
//grid-template-columns:500px 300px 500px;
 //grid-template-rows: 1fr 1fr 1fr;
 column-gap: 10px;
 row-gap: 30px;
 width: 500px;
 height:130px;
margin: 30px 20px;
 background-color: #fff;
 text-align: left;
 font-size:1.6rem;
 margin-top: 2rem;
 padding:2rem;
 text-align: center;
}

.tapahtumat a {
 font-size: 1rem;
 //background-color: #e3ab12;
}
 
form > div {
 display: flex;
 flex-direction: column;
 margin-top: 0.5rem;
}

input {
 border: 1px solid #999;
 border-radius: 0.3rem;
 padding: 0.45rem;
 font-size: 1rem;
}

input[type=submit] {
 padding: 0.5rem 3rem;
 border-radius: 0.3rem;
 background-color: #975579;
 color: #fff;
 font-weight: bold;
 min-width: 12rem;
 margin: 1rem auto;
}

.error {
 color: red;
 font-size: 0.8rem;
}

.info {
 background-color: #e5e5e5;
 border: 1px;
 border-radius: 0.5rem;
 padding: 1rem;
 margin: 1rem;
 text-align: center;
}

.info a {
 color: #975579;
}
